body {
  background: pink; /* Update background color to pink */
}

h1 {
  font-size: 3em; /* Update font-size to 3em */
}

h2 {
  font-weight: normal; /* Update font-weight to normal */
  font-style: italic; /* Add font-style property */
}

.completed {
  font-size: 12px; /* Update font-size to 12px */
}

#tasks .completed {
  background: #ccc; /* Update background color to #ccc */
}